html {
	scroll-behavior: smooth;
}


body {
	background-color: #881c1c;	
}


h1 {
	color: #ffffff;
	font-size: 50pt;
	text-align: center;
}


h2 {
	color: #ffffff;
	padding-left: 150px;
	font-family: Verdana;
	font-size: 14pt;
}


hr {
	color:#ffffff;
	width: 85%;
	text-align: center;	
}


th {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right:25px;
	font-size: 18pt;
	color: #ffffff;
}


p {
	color: #ffffff;
	text-align: center;
}


a {
	color: #ffffff;
	text-align: center;
}


.header {
		background: #000000;
		padding: 15px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
}


.header.active {
		background: #000000;
		padding:15px;
		border-radius: 20px;
}


.borgir {
	float:right;
	height: 55px; 
	width: 55px;
}


.navlinks {
	display: none;
	list-style: none;
}


.navlinks.active {
	display: flex;
	justify-content: center;
}


.navlinks li{	
	padding-right: 40px;
	padding-left: 40px;
}


.navlinks a{
	color: white;
	font-family: Verdana;
	font-size: 12pt;
	text-decoration: none;
}



.overlay-main-text {

	position: absolute;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 200pt;
	color: #ffffff;
	font-family: Verdana;
	z-index: 10;	
	
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}


.overlay-main-text.visible {
	opacity: 1;
	transform: translateY(0);
}

.parallax {
      	position: relative;
      	height: 88.5vh;
      	background-image: url('https://www.umass.edu/sites/default/files/2023-03/umass-sustainable-dining.jpg');
      	background-size: cover;
      	display: flex; 
      	align-items: center; 
      	justify-content: center;
      	color: white; 
      	text-align: center; 
      	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}


.parallax::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}


.arrow{
	position: absolute;
	color: #ffffff;
	font-size: 40px;
	top: 92%;
	left: 50%;

	opacity: 0;
	transform: translateY(-50px);
	transition: opacity 1.75s ease-in-out, transform 1.75s ease-in-out;
	z-index: 10;
}


.arrow.visible{
	opacity: 1;
	transform: translateY(0px);
}


.focus {
	display: flex;
	padding-bottom: 80px;
}


.focus-left {
	width: 40%;
	padding: 25px;
	padding-left: 150px;
	font-family: Verdana;
	font-size: 24pt;
	color: #ffffff;
	text-align: left;

	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;

}

.focus-left.visible {
	opacity: 1;
	transform: translateY(0);
}


.focus-right {
	width: 40%;
	position: right;
	padding: 25px;
	padding-right: 150px;
	font-family: Verdana;
	font-size: 16pt;
	color: #ffffff;
}


.table-container {
	display: flex;
	justify-content: space-around;
}


.table-container table { 
      	border-collapse: collapse;
      	border-radius: 10px; 
      	overflow: hidden; 
      	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #770b0b;
    }

.table-container th {
      	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
      	text-align: center;
	font-size: 12pt;
	color: #ffffff;
	font-weight: normal;
    }


.food {
	padding: 15px;
	padding-bottom: 700px;
	border-radius:20px; 
	position: center;
	background-color: #770b0b;
	
}

