html {
	scroll-behavior: smooth;
}


body {
	background-color: #881c1c;	
}


h1 {
	color: #ffffff;
	font-size: 50pt;
	text-align: center;
}


h2 {
	color: #ffffff;
	padding-left: 150px;
	font-family: Verdana;
	font-size: 14pt;
}


hr {
	color:#ffffff;
	width: 85%;
	text-align: center;	
}


th {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right:25px;
	font-size: 18pt;
	color: #ffffff;
}


p {
	color: #ffffff;
	text-align: center;
}


a {
	color: #ffffff;
	text-align: center;
}


.header {
		background: #000000;
		padding: 20px;
		height: 120px;
		border-radius: 20px;
}


.header-title {
	position: absolute;
	top: 4.5%;
	left: 46%;
	font-family: Verdana;
	color: #ffffff;
	font-size: 44pt;	
}


.header-subtitle {
	position: absolute;
	top: 2%;
	left: 48.5%;
	font-family: Verdana;
	color: #ffffff;
	font-size: 12pt;	
}


.borgir {
	float:right;
	float: top;
	height: 55px; 
	width: 55px;
}


.navlinks {
	display: flex;
	list-style: none;
	position: absolute;
	top: 12%;
	left: 43.5%;
}


.navlinks li{	
	padding-right: 40px;
	padding-left: 40px;
}


.navlinks a{
	color: white;
	font-family: Verdana;
	font-size: 12pt;
	text-decoration: none;
}


.item {
	padding: 30px;
	border: 3px solid #881c1c;
	position: center;
	background-color: #770b0b;
}

.item-title{
	color: #ffffff;
	padding-left: 150px;
	font-family: Verdana;
	font-weight: bold;
}

.item-image{
	padding-left: 150px;
	
}

.item table{
	padding-left: 40px;
}

.item td{
	color: #ffffff;
	font-family: Verdana;
	font-weight: normal;
	
}

.data-container {
	display: flex;
}


