html {
	scroll-behavior: smooth;
}


body {
	background-color: #881c1c
}


h1 {
	color: #ffffff;
	font-size: 50pt;
	text-align: center;
}



h2 {
	color: #ffffff;
	padding-left: 250px;
	font-family: Arial;
}


hr {
	color:#ffffff;
	width: 75%;
	text-align: center;	
}


.header {
		background: #000000;
		padding:15px;
}

.focus-left {
	position: absolute;
	padding-top: 50px;
	left: 13.5%;
	font-family: Verdana;
	font-size: 16pt;
	color: #ffffff;
	text-align: left;
}


.github-repo {
	width: 55px;
	height: 55px;
	background-color: #ffffff;
	border-radius: 50%;
	float: right;
}


.overlay-main-text {

	position: absolute;
	top: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 200pt;
	color: #ffffff;
	font-family: Verdana;
	z-index: 10;	
}


.parallax {
      position: relative;
      height: 100vh;
      background-image: url('https://www.umass.edu/sites/default/files/2023-03/umass-sustainable-dining.jpg');
      background-size: cover;
      background-position: center;
      display: flex; 
      align-items: center; 
      justify-content: center;
      color: white; 
      text-align: center; 
}


.parallax::after {
	content: ' ';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}


th {
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 25px;
	padding-right:25px;
	font-size: 18pt;
	color: #ffffff;
}


p {
	color: #ffffff;
	text-align: center;
}


a {
	color: #ffffff;
	text-align: center;
}